<p id="notice"><%= notice %></p>


<h3>歌手/乐队: <%= @artist.name %></h3>


<p>
  <b>为什么值得关注(推荐专辑):</b> 
  <%= raw(@artist.html_intro) %>
 
</p>


<%= link_to 'Destroy', @artist, :confirm => 'Are you sure?', :method => :delete %>
<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'All', artists_path %>
