<!-- format for adding a comment - that is a form for comment -->

<%= form_for([@post, @post.comments.build]) do |f| %>
  <%= f.error_messages %>
<div class="field">
<%= f.label :who? %><%= render "shared/register_invite" %><br />
<%= f.text_field :commenter %>
</div>

<div class="field">

  <%= f.label :what? %><br />
  <%= f.text_area :body %>
</div>

<div class="actions">
<%= f.submit "Leave a comment" %>
</div>
<% end %>

