<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- if user has not login in ,should provide a name -->
<% if current_user %>

<% else %>

  <div class="field">
    <%= f.label :name %> <%= render "shared/register_invite" %><br />
    <%= f.text_field :name %>
  </div>
<% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="post_text_erea">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<div class="wmd-preview"></div>
<% if true %>
<%=  javascript_tag "wmd_options = {\"output\": \"Markdown\"};" %>
<% end %>
<script type="text/javascript" src="/javascripts/wmd.js"></script>




