

- posts.each do |post|
    %div.post-header
        %div.post-happen-at
            %div.post-happen-at-year
                %p= post.happen_at.year
            %span.post-happen-at-month
                = post.happen_at.month.to_s
            %span.post-happen-at-day
                = post.happen_at.day.to_s
        %div.post-title
            = link_to post.title , post
    %div.post-text
        %p= raw(post.html_content)
-# don't show tags in summary
-#    %div.tags
-#        - post.tags.each do |tag|
-#            %div.post-tag= link_to tag.name, tag_path(tag.name)


-#              = post.happen_at.month.to_s.strip+"月"
