<p id="notice"><%= notice %></p>

<div class="post-header">
 <strong> <%= @post.title %></strong>
 <hr />
</div>
<div class="post-text">
  <%= @post.content %>
</div>

posted at <%= @post.created_at.to_date %>
by
<% if @post.user %>
    <%= link_to @post.user.login, user_path(@post.user) %>
<% else %>
  <%= @post.name %> <!-- shoud be @post.username-->
<% end %>

<hr />



<!-- show comments of this post -->
<p>
  <%= @post.comments.size %> comments
  <hr />
</p>


<%= render @post.comments %>


<h3>Got something to say?</h3>

<%= render "comments/form" %>

<br />

<%= link_to 'Edit', edit_post_path(@post) %> |

