<p id="notice"><%= notice %></p>

<div class="post-header">

 <strong> <%= @post.title %></strong>
<hr />

  </div>
<div class="post-text">
  <%= @post.content %>

</div>

<hr />

<p>
  <%= @post.comments.size %> comments
  <hr />
</p>


<%= render @post.comments %>


<h2>Add a comment:</h2>

<%= render "comments/form" %>

<br />


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
