<p id="notice"><%= notice %></p>




<div class="post-header">

 <strong> <%= @post.title %></strong>
<hr />

  </div>
<div class="post-text">
  <%= @post.content %>

</div>

<hr />

<p>

  <%= @post.comments.size %> comments
  <hr />
</p>


<% @post.comments.each do |comment| %>

<div class="comment-text">
  <p>
    <%= comment.body %>
  </p>
</div>
<div class="comment-footer">
  <%= comment.commenter %>
</div>

<hr />


<% end %>

<h2>Add a comment:</h2>

<%= form_for([@post, @post.comments.build]) do |f| %> 
  <%= f.error_messages %>
<div class="field">
<%= f.label :commenter %><br />
<%= f.text_field :commenter %>
</div>

<div class="field">

  <%= f.label :body %><br />
  <%= f.text_area :body %>
</div>

<div class="actions">
<%= f.submit %>
</div>
<% end %>

<br />


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
