
<h2> Login </h2>

<%= form_for(@user_session) do |f| %>
 
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :login %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= submit_tag "login" %>
  </div>
<% end %>

