<!DOCTYPE html>
<html>
  <head>
    <title>Yy-摇滚&名谣 专辑/演出/图片</title>
    <%= stylesheet_link_tag 'yy'%>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body class="post-page">
    <div id="container">
      <div id="header">
        <div id="user_nav">
          <% if current_user %>
            <span>Welcome </span><%= link_to current_user.login ,user_path(current_user.id),:class => "user" %><span>!</span>
            <%= link_to "Edit Profile" , edit_user_path(:current) %> |
            <%= link_to "Logout" , logout_path %>
          <% else %>
            <%= link_to "Register", new_user_path %> |
            <%= link_to "Login", login_path %>
          <%  end %>
        </div>

        <div id="site-nav">
          <div class="nav mainnav">
            <ul>

              <li> <%=link_to "全部", posts_path ,     object_id=>"site-nav-all" %></li>
              <li> <%=link_to "演出", tag_path("show") , object_id=>"site-nav-show" %></li>
              <li> <%=link_to "专辑", tag_path("album"), object_id=>"site-nav-album" %></li>
              <li> <%=link_to "图片", tag_path("picture"),object_id=>"site-nav-pic" %></li>
            </ul>
          </div>
          <div class="nav new-post">
            <!--%= link_to image_tag("new_post.gif", :border=>0),new_post_path %-->
            <ul>
              <li> <%= link_to 'New Post', new_post_path ,object_id=>"new_post"  %></li>
            </ul>

          </div>
        </div>
      </div>

      <hr id="rule_header"/>


      <div id="side_bar">

        <br />  加入我们
        <br />  1. 网站美工
        <br />  2. 编辑
        <br />  3. 信息提供者
     
        <br />
        <br />告诉我如何改进

        <br />联系:
        <br />pierr.chen 在 gmail.com


      </div>

      <div id="main">
        <%- flash.each do |name,msg| -%>
          <%= content_tag :div ,msg, :id => "flash_#{name}" %>
        <%- end -%>

        <%= yield %>
      </div>
    </div>

    <div id="footer">
      powered by <br />
      <%= link_to image_tag("rails.png", :border=>0),"http://rubyonrails.org/",:id=>"rails_icon" %>
    </div>
<script type="text/javascript">
var uservoiceOptions = {
  /* required */
  key: 'rocknfolk',
  host: 'rocknfolk.uservoice.com',
  forum: '89647',
  showTab: true,
  /* optional */
  alignment: 'left',
  background_color:'#f00',
  text_color: 'white',
  hover_color: '#06C',
  lang: 'en'
};

function _loadUserVoice() {
  var s = document.createElement('script');
  s.setAttribute('type', 'text/javascript');
  s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
  document.getElementsByTagName('head')[0].appendChild(s);
}
_loadSuper = window.onload;
window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>
    
</body>
</html>
